h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
form {
    text-align: center;
}
body
{
    background-color: bisque;
}
h1
{
    background-color: cadetblue;
}
p
{
    text-align: center;
}
div
{
    background-color: beige;
    border-style: dashed;
}
ul
{
    text-align: center;
    list-style: circle;
}