h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
form {
    text-align: center;
}
body
{
    background-color: bisque;
}
h1
{
    background-color: cadetblue;
}
p
{
    text-align: center;
}
div
{
    background-color: beige;
    border-style: dashed;
}
ul
{
    text-align: center;
    list-style: circle;
}
table 
{
    background-color: floralwhite;
    border-style: double;
    margin-left: 5%;
}
tr
{
    border-style: double;
}
td
{
    border-style: double;
}
td:hover
{
    background-color: black;
    color: white;
}
button:hover
{
    border-radius: 50%;
    size: 200%;
    background-color: black;
    color: white;
}