nav
{
    display: block;
}
body
{
    background-color: blanchedalmond;
}
h1,h2,h3,h4
{
    text-align: center;
}
body
{
    text-align: center;
}
table 
{
    border-style: dotted;
    margin-left: 20%;
}
tr,td
{
    background-color: bisque;
}